<%= render "layouts/pt_header" %>

<div class="container" id="ideas">

  <div class="row">
    <%= form_tag ideas_path, :method => "get", class: "input-group col-md-6 col-lg-6 col-md-offset-3" do %>
    <%= text_field_tag :search, params[:search],class: "form-control input-lg", placeholder: "Pesquisar Ideia" %>
    <%= content_tag(:span, submit_tag("Pesquisar", class: "btn btn-primary input-lg"), class:"input-group-btn") %>
    <% end %>
    <br>
  </div>

  <% @ideas.each do |idea| %>

  <div class="row">
    <div class="box">
      <div class="col-lg-12 text-center">
          <%if(idea==@ideas.first)%>
           <%= button_to ideas_path, :method => "get", name:"crescente", class:"btn btn-primary btn-md col-md-6 ordenacao" do%>
          <span aria-hidden="true" class="glyphicon glyphicon-sort-by-attributes"></span>
          Crescente
          <% end %>
          <%= button_to ideas_path, :method => "get", name:"decrescente", class:"btn btn-primary btn-md col-md-6 ordenacao" do%>
          <span aria-hidden="true" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
          Decrescente
          <% end %>
        <% end %>
        <h2>[<%= idea.topic.name %>] <%= idea.title %><br>
          <small><%= idea.date.strftime("%B %d, %Y")  %></small>
        </h2>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <% if idea.picture? %>
          <img class="img-responsive img-border img-full" src=<%=idea.picture.url%> >
          <% else %>
            <img class="img-responsive img-border img-full" src=<%=idea.topic.picture.url%> >
          <% end %>
        </div>
        <p><%= idea.text %></p>
      </div>
      <div class="inline text-center">
        <div class="btn-group btn-group-sm">
          <%= button_to 'Gostei da ideia', upvote_idea_path(idea), method: :post, role:"button" ,class:"a btn btn-default" %>
          <%= button_to 'Não gostei da ideia', downvote_idea_path(idea), method: :post,role:"button" , class:"a btn btn-default" %>
        </div>
        <table id="votes">
          <tr>
            <td>
              <h5>Votação:
              </h5>
            </td>
            <td>
              <h4 id="upvote">+<%= idea.upvotes %></h4>
            </td>
            <td>
              <h4 id="downvote">-<%= idea.downvotes %></h4>
            </td>
          </tr>
        </table>
        <hr>
      </div>
    </div>
  </div>
  <% end %>
</div>
