<%= render "layouts/admin_header" %>

<div class="container" id="ideas">

  <div class="container" id="ideas">
    <% @received_contacts.each do |contact| %>
    <div class="row">
      <div class="box">
        <div class="col-lg-12">
          <div class="col-lg-12 text-justify">
            <h3>Assunto:
              <%= contact.title %>
            </h3>
            <p>
              <%= contact.message %>
            </p>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="col-lg-6">
            <h3>Nome:
              <small>
                <%= contact.name %>
              </small>
            </h3>
          </div>
          <div class="col-lg-6" id="email">
            <h3>Email:
              <small>
                <%= contact.email %>
              </small>
            </h3>
          </div>

        </div>
        <div class="col-lg-12">
          <div class="col-lg-6">
            <h3>Data:
              <small>
                <%= contact.date %>
              </small>
            </h3>
          </div>
          <div class="botaolida col-lg-6" id="email">
            <button class="btn btn-success" type="submit">Marcar como lida</button>
          </div>
        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>
