<%= render "layouts/pt_header" %>

<div class="container" id="ideas">

  <div class="row">
    <div class="box">
      <div class="col-lg-12 text-center">
        <div class="carousel slide" id="carousel-example-generic">
          <!-- Indicators -->
          <% if @has_ideas != 0 %>
          <ol class="carousel-indicators hidden-xs">
            <li class="active" data-slide-to="0" data-target="#carousel-example-generic"></li>
            <% if (@month_idea != false) %>
            <li data-slide-to="1" data-target="#carousel-example-generic"></li>
            <% end %>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <% if @month_idea != false %>
            <div class="item active">
              <div class="CoverImage FlexEmbed FlexEmbed--2by1" style="background-image:url(<%= @month_idea.picture.url%>)">
                <div class="carousel-caption">
                  <h2 id="scrolling_text">Ideia do mês:
                    <%= @month_idea.title%></h2>
                </div>
              </div>
            </div>
            <% end %>
            <% if @month_idea == false %>
            <div class="item active">
            <% else %>
            <div class="item">
            <% end %>
              <div class="CoverImage FlexEmbed FlexEmbed--2by1" style="background-image:url(<%= @most_voted_idea.picture.url %>)">
                <div class="carousel-caption">
                  <h2 id="scrolling_text">Mais Votada:
                    <%= @most_voted_idea.title %></h2>
                </div>
              </div>
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" data-slide="prev" href="#carousel-example-generic">
            <span class="icon-prev"></span>
          </a>
          <a class="right carousel-control" data-slide="next" href="#carousel-example-generic">
            <span class="icon-next"></span>
          </a>
        </div>
        <% end %>
        <h2 class="brand-before">
          <small>Bem vindo ao</small>
        </h2>
        <h1 class="brand-name">Mais IS</h1>
        <hr class="tagline-divider">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">FEUP e a
          <strong>Sustentabilidade</strong>
        </h2>
        <hr>
        <hr class="visible-xs">
        <p>As instituições de ensino superior são responsáveis pela formação da maioria dos profissionais que assumem cargos relevantes na sociedade, devendo, por isso, assumir um papel preponderante no Desenvolvimento Sustentável. Além disso, devem ser elas
          próprias modelos de sustentabilidade.</p>

        <p>A FEUP encontra-se fortemente empenhada em promover a sustentabilidade e comportamentos e práticas mais sustentáveis. Prova disso, é o
          <a href="web_base.gera_pagina?p_pagina=31509" target="_blank">plano estratégico 2011-2015</a>
          que contém secções dedicadas às políticas ambientais, sociais e económicas. O seu empenho em tornar-se mais sustentável reflete-se ainda no facto de ser membro da reconhecida associação internacional
          <a href="web_gessi_docs.download_file?p_name=F2030586683/eauc_certificate.pdf" target="_blank">
            <em>EAUC – Environmental Association for Universities and Colleges</em>
          </a>
          e na publicação do relatório de sustentabilidade desde 2006. O objetivo principal destes relatórios é proporcionar à comunidade FEUP e à sociedade em geral uma visão do seu desempenho nas diversas vertentes da sustentabilidade (social, económica e
          ambiental), contribuindo também para a sensibilização de todos quantos compõem a instituição.</p><br>
        <img alt="" class="img-responsive img-border" src="https://sigarra.up.pt/feup/pt/web_gessi_docs.download_file?p_name=F-1840222254/eauc_certificate.jpg"><br>
      </div>
    </div>
  </div>

  <%= render "ideas/new" %>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Consumos desde o início de 2015</h2>
        <hr>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4">
            <h2 class="intro-text text-center">
              <strong>Electricidade (kWh)</strong>
            </h2>
            <div class="text-center">
              <span class="counter1 counter-analog" data-direction="up" data-format="99999999">0</span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <h2 class="intro-text text-center">
              <strong>Água (M
                <sup>3</sup>)</strong>
            </h2>
            <div class="text-center">
              <span class="counter2 counter-analog" data-direction="up" data-format="99999999">0</span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <h2 class="intro-text text-center">
              <strong>Papel (páginas)</strong>
            </h2>
            <div class="text-center">
              <span class="counter3 counter-analog" data-direction="up" data-format="99999999">0</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
