<%= render "layouts/en_header" %>

<div class="container" id="ideas">

  <div class="row">
    <div class="box">
      <div class="col-lg-12 text-center">
        <% if @has_ideas != 0 %>
        <div class="carousel slide" id="carousel-example-generic">
          <!-- Indicators -->
          <ol class="carousel-indicators hidden-xs">
            <li class="active" data-slide-to="0" data-target="#carousel-example-generic"></li>
            <% @ideas.each do |idea| %>
            <li data-slide-to=<%= @counter %> data-target="#carousel-example-generic"></li>
            <% @counter = @counter + 1 %>
            <% end %>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <% if @first_idea.picture? %>
              <div class="CoverImage FlexEmbed FlexEmbed--2by1" style="background-image:url(<%= @first_idea.picture.url%>)">
              <% else %>
              <div class="CoverImage FlexEmbed FlexEmbed--2by1" style="background-image:url(<%= @first_idea.topic.picture.url%>)">
              <% end %>
                <div class="carousel-caption">
                  <h2><%= @first_idea.title%></h2>
                </div>
              </div>
              </div>
              <% @ideas.each do |idea| %>
              <div class="item">
                <% if idea.picture? %>
                <div class="CoverImage FlexEmbed FlexEmbed--2by1" style="background-image:url(<%= idea.picture.url%>)">
                  <% else %>
                  <div class="CoverImage FlexEmbed FlexEmbed--2by1" style="background-image:url(<%= idea.topic.picture.url%>)">
                    <% end %>
                    <div class="carousel-caption">
                      <h2><%= idea.title%></h2>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
              <!-- Controls -->
              <a class="left carousel-control" data-slide="prev" href="#carousel-example-generic">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" data-slide="next" href="#carousel-example-generic">
                <span class="icon-next"></span>
              </a>
            </div>
            <% end %>
            <h2 class="brand-before">
              <small>Welcome to</small>
            </h2>
            <img alt="Imagem não disponível" class="img-responsive logo" src="/assets/logo_en.png">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="box">
          <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">FEUP and
              <strong>Sustainability</strong>
            </h2>
            <hr>
            <hr class="visible-xs">
            <p>FEUP is deeply committed in contributing to a more sustainable society. With this goal a contest was created:  ‘More Sustainable Ideas’.</p>
            <p>If you have an idea to help FEUP be more sustainable, please submit it. This way you will also

be contributing to the sustainability of the planet. The submission of the idea must be in accordance with the <%= link_to "Regulation", '/path/to/file/or/path_method', :class => "href" %>. The best ideas will be rewarded and widely spread in accordance with the <%= link_to "Regulation", '/path/to/file/or/path_method', :class => "href" %>.
            </p>
            <p>Below you may find some inspirational links:</p>
            <ul>
              <li><a href="http://www.crescimentoverde.gov.pt/" target="_blank">Compromisso para o Crescimento Verde</a></li>
              <li><a href="http://www.pnud.org/content/undp/en/home/mdgoverview/" target="_blank">Sustainable Development Goals</a></li>
              <li><a href="http://www.footprintnetwork.org/en/index.php/GFN/page/calculators/" target="_blank">Global Footprint Network</a></li>
              <li><a href="http://www.wwf.pt/" target="_blank">WWF</a><br></li>
</ul>
            <br>
            <img alt="Image not available" class="img-responsive img-border" src="https://sigarra.up.pt/feup/pt/web_gessi_docs.download_file?p_name=F-1840222254/eauc_certificate.jpg"><br>
          </div>
        </div>
      </div>

      <%= render :file => '/ideas/new_en' %>

      <div class="row">
        <div class="box">
          <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Consuption since beggining of  2015</h2>
            <hr>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-4">
                <h2 class="intro-text text-center">
                  <strong>Electricity (kWh)</strong>
                </h2>
                <div class="text-center">
                  <span class="counter1 counter-analog" data-direction="up" data-format="99999999">0</span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4">
                <h2 class="intro-text text-center">
                  <strong>Water (M
                    <sup>3</sup>)</strong>
                </h2>
                <div class="text-center">
                  <span class="counter2 counter-analog" data-direction="up" data-format="99999999">0</span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-4">
                <h2 class="intro-text text-center">
                  <strong>Paper (pages)</strong>
                </h2>
                <div class="text-center">
                  <span class="counter3 counter-analog" data-direction="up" data-format="99999999">0</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
