<div class="group col-lg-12">
  <p>Se tens alguma dúvida, questão ou sugestão envia um email para
    <strong>
      <a href="mailto:sustentabilidade@fe.up.pt">sustentabilidade@fe.up.pt</a>
    </strong>
    ou preenche o formulário abaixo.
  </p>
</div>
<div class="text-left">
  <%= form_for :contact, url: contacts_path do |f| %>
  <div class="form-group col-lg-6">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="form-group col-lg-6">
    <%= f.label :email, "Email" %>
    <%= f.text_field :email, :class => 'form-control' %>
  </div>
  <div class="form-group col-lg-12">
    <%= f.label :title, "Assunto" %>
    <%= f.text_field :title, :class => 'form-control' %>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-lg-12">
    <%= f.label :message, "Mensagem" %>
    <%= f.text_area :message, :style => 'resize: vertical;', :type => 'text', :class => 'form-control', :rows => '6' %>
  </div>
  <div class="form-group col-lg-12">
    <% if @idea.try(:errors).try(:any?) %>
    <% @idea.errors.each do |attribute, error| %>
    <ul>
      <li>
        <small class="text-danger">
          <%= error %>
        </small>
      </li>
    </ul>
    <% end %>
    <% end %>
  </div>
  <div class="form-group col-lg-12">
    <%= f.submit "Submeter", :class => 'btn btn-default' %>
  </div>
  <% end %>
</div>
