<%= render "layouts/admin_header" %>

<div class="container" id="ideas">
  <% @ideas.each do |idea| %>
  <div class="row">
    <div class="box">
      <div class="col-lg-12 text-center">
        <h2><%= idea.title %><br>
          <small><%= idea.date %></small>
        </h2>
        <% if idea.picture? %>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <img alt="Imagem não disponível" class="img-responsive img-border img-full" src=<%=idea.picture.url%>
        </div>
        <% end %>
        <p><%= idea.text %></p>
      </div>
      <div class="col-lg-12">
        <div class="col-md-4">
          <h3>Autor:
            <small>
              <%= idea.author %>
            </small>
          </h3>
        </div>
        <div class="col-md-4">
          <h3>Data:
            <small>
              <%= idea.date %>
            </small>
          </h3>
        </div>
        <div class="btn-group btn-group-sm botoes col-md-4">
          <%= button_to 'Destacar ideia', select_month_idea_path(idea), method: :post, role:"button" ,class:"btn btn-success" %>
          <%= button_to 'Finalizar ideia', select_concretize_idea_path(idea), method: :post, role:"button" ,class:"btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
  <%end%>
</div>
